ion-toolbar {
  --min-height: 70px;
  
  ion-title {
    font-weight: 800;
    font-size: 1.3rem;
    letter-spacing: 0.5px;
  }

  .menu-btn {
    font-weight: 700;
    font-size: 0.9rem;
    text-transform: uppercase;
  }
}

ion-content {
  --background: #ffffff; /* Aseguramos fondo blanco */
}

.category-title {
  color: #333;
  font-weight: 600;
  margin-bottom: 1.5rem;
  font-size: 1.8rem;
}

.category-card {
  height: 450px; /* Altura de las tarjetas de imagen */
  border-radius: 30px; /* Esquinas muy redondeadas según la imagen */
  background-size: cover;
  background-position: center;
  box-shadow: 0 10px 25px rgba(0,0,0,0.1);
  cursor: pointer;
  transition: transform 0.2s ease-in-out;

  &:active {
    transform: scale(0.97); /* Efecto de pulsación al hacer clic */
  }
}

/* Espaciado responsivo */
ion-col {
  padding: 30px;
}