<ion-header class="ion-no-border">
  <ion-toolbar color="teal-custom">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/parenterales" text="Atrás"></ion-back-button>
    </ion-buttons>
    
    <ion-title>Vía Intramuscular</ion-title>
    
    <ion-buttons slot="end">
      <ion-button id="menu-intramuscular">
        <ion-icon name="caret-down-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="hero-section">
    <div class="hero-overlay">
      <div class="hero-content">
        <h2 class="section-title-line">¿Qué es?</h2>
        <p>
          La vía intramuscular es una forma de administración de medicamentos en la que el fármaco se deposita directamente en el tejido muscular profundo, por debajo de la dermis y del tejido subcutáneo.
        </p>
        <p>
          Se utiliza para una absorción rápida gracias a la alta irrigación sanguínea del músculo.
        </p>
      </div>
    </div>
  </div>

  

  <ion-grid class="ion-padding">
    <ion-row>
      <ion-col size="12" size-md="6">
        <h3 class="title-green">Ventajas</h3>
        <ul class="custom-list">
          <li>Permite una absorción rápida hacia la sangre</li>
          <li>Admite volúmenes mayores (hasta 5 ml)</li>
          <li>Es una técnica económica</li>
          <li>Uso terapéutico y preventivo (vacunas)</li>
        </ul>
      </ion-col>
      <ion-col size="12" size-md="6">
        <h3 class="title-green">Desventajas</h3>
        <ul class="custom-list">
          <li>Es una técnica dolorosa e invasiva</li>
          <li>Riesgo alto de lesión nerviosa o vascular</li>
          <li>No permite revertir el efecto una vez inyectado</li>
          <li>Puede generar abscesos localizados</li>
        </ul>
      </ion-col>
    </ion-row>

    <ion-row class="ion-margin-top">
      <ion-col size="12" size-md="6">
        <h2 class="section-title-line dark">Material</h2>
        <div class="needle-container">
          <ul class="custom-list">
            <li>Jeringa de 2 a 5 ml</li>
            <li>Aguja calibre 19-23, larga (25 a 40 mm)</li>
            <li>Ángulo de inyección: 90°</li>
          </ul>
        </div>
      </ion-col>

      <ion-col size="12" size-md="6">
        <h2 class="section-title-line dark">Lugares más Utilizados</h2>
        <ul class="custom-list">
          <li>Glúteo (Cuadrante superior externo)</li>
          <li>Músculo deltoides (Brazo)</li>
          <li>Vasto lateral (Muslo)</li>
        </ul>
        <p class="caption-text ion-margin-top">
          Elegidos por su gran irrigación y distancia de nervios importantes.
        </p>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>